<?xml version="1.0"?>
<config>
    <modules>
        <Petryk_Newproducts>
            <version>0.1.0</version>
        </Petryk_Newproducts>
    </modules>
    <global>
        <blocks>
            <petryk_newproducts>
                <class>Petryk_Newproducts_Block</class>
            </petryk_newproducts>
        </blocks>
    </global>
    <frontend>
        <routers>
            <petryk_newproducts>
                <use>standard</use>
                <args>
                    <module>Petryk_Newproducts</module>
                    <frontName>petryk_newproducts</frontName>
                </args>
            </petryk_newproducts>
        </routers>
    </frontend>
</config>
