<?xml version="1.0"?>
<config>
    <modules>
        <Petryk_Newproducts>
            <version>0.1.0</version>
        </Petryk_Newproducts>
    </modules>
    <global>
        <blocks>
            <petryk_newproducts>
                <class>Petryk_Newproducts_Block</class>
            </petryk_newproducts>
        </blocks>
        <models>
            <petryk_newproducts>
                <class>Petryk_Newproducts_Model</class>
            </petryk_newproducts>
        </models>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <petryk_newproducts>
                        <class>petryk_newproducts/observer</class>
                        <method>addLinkToTopmenu</method>
                    </petryk_newproducts>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </global>
    <frontend>
        <routers>
            <petryk_newproducts>
                <use>standard</use>
                <args>
                    <module>Petryk_Newproducts</module>
                    <frontName>petryk_newproducts</frontName>
                </args>
            </petryk_newproducts>
        </routers>
        <layout>
            <updates>
                <petryk_newproducts>
                    <file>petryk_newproducts.xml</file>
                </petryk_newproducts>
            </updates>
        </layout>
    </frontend>
</config>
